/***** Roundcube|Mail address book task styles of gv4alw *****/

#abooktoolbar
{
  top: 33px;
  left: 10px;
  height: 25px;
  z-index: 2;
}

#abooktoolbar a.button,
#abooktoolbar a.buttonPas,
#abooktoolbar span.separator {
  width: 25px;
  height: 25px;
  margin-right: 0px;
}

/*** buttons ***/

#abooktoolbar a.addcontactSel {
  background-position: 0 -22px;
}

#abooktoolbar a.compose {
  background-position: -24px 0;
}

#abooktoolbar a.composeSel {
  background-position: -24px -22px;
}

#abooktoolbar a.delete {
  background-position: -50px 0;
}

#abooktoolbar a.deleteSel {
  background-position: -50px -22px;
}

#abooktoolbar a.import {
  background-position: -76px 0;
}

#abooktoolbar a.importSel {
  background-position: -76px -22px;
}

#abooktoolbar a.export {
  background-position: -100px 0;
}

#abooktoolbar a.exportSel {
  background-position: -100px -22px;
}

#abooktoolbar a.search {
  background-position: -133px 0;
}

#abooktoolbar a.searchSel {
  background-position: -133px -22px;
}

#abooktoolbar span.separator {
  width: 10px;
  background-position: -124px 0;
}

#addressscreen
{
  right: 10px;
  left: 220px;
  bottom: 10px;
}

#directorylistbox
{
  left: 10px;
  width: 200px;
  bottom: 10px;
}

#directorylist li
{
  font-size: 13px;
  background: url(images/icons/abcard.png) no-repeat;
  background-position: 2px 3px; 
  border: 0;
}

#directorylist li:nth-child(even)
{
  background-color: #F9F9F9;
}

#directorylist li:hover
{
  border: none;
  background-color: #B2B4BF;
}

#directorylist li a:hover
{
  font-weight: bold;
  color: white;
}

#directorylist li.selected
{
  background-color: #B2B4BF;
}

#contact-frame
{
  overflow: hidden;
}

#contact-details
{
  top: 15px;
  position: absolute;
  height: 91%;
  width: 98.6%;
  overflow: auto;
}

div#contact-details #advsearchform div.tabsbar
{
  border: none;
  top: 15px;
}

div#contact-details #advsearchform fieldset.tabbed
{
  top: 22px;
}

#contacttabs
{
  padding-bottom: 0;
}

div#formfooter
{
  position: relative;
  top: 25px;
}

