/***** Roundcube|Mail settings task styles of gv4alw *****/

div#folder-details div#formfooter
{
  position: relative;
  top: 19px;
}

div#identity-details div#formfooter
{
  position: relative;
  top: 40px;
}

div#prefs-details div#formfooter
{
  position: relative;
  top: 4px;
}

.footerleft
{
  padding-bottom: 5px;
}

#folder-manager.droptarget
{
  border: 1px solid #B2B4BF;
}

#subscription-table tr.selected td
{
  background-color: #B2B4BF;
  color: white;
}

